body{
    font-family: 'Oswald', sans-serif;
    background-color: #D9D9D9;
}
h1{
    font-size: 150px;
    text-align: center;
    z-index: 1000;
    position: relative;
}
h2{
    font-size: 75px;
    text-align: center;
    z-index: 1000;
    position: relative;
    top: -129px;
    color: black;
    
}
a:link {
  color: black; 
  background-color: ; 
  text-decoration: none;
    font-size: 40px;
    z-index: 1000;
    position: relative;
    top: -155px;
}

a:visited {
  color: black;
  background-color: ;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: #fce46d;
}

a:active {
  color: #fcca03;
  background-color: ;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  min-width: 100%;
  min-height: 100%;
}
footer{
    color: slategray;
    z-index: 1000;
    position: relative;
    text-align: center;
    top: 10px;
}
